
\.vs/

**/bin/

**/obj/

Tree-Parallel/obj/

Tree-Parallel/bin/

Tree-Parallel/bin/Debug/Tree-Parallel\.exe

Tree-Parallel/bin/Debug/Tree-Parallel\.exe\.config

Tree-Parallel/bin/Debug/Tree-Parallel\.pdb
